# 12. Machine learning techniques

In [ ]:
!git clone https://github.com/s7s/machine_learning_1.git
%cd  machine_learning_1/ML_in_practice

Cloning into 'machine_learning_1'...
remote: Enumerating objects: 178, done.
remote: Counting objects: 100% (178/178), done.
remote: Compressing objects: 100% (131/131), done.
remote: Total 178 (delta 79), reused 143 (delta 44), pack-reused 0
Receiving objects: 100% (178/178), 34.11 MiB | 21.00 MiB/s, done.
Resolving deltas: 100% (79/79), done.
/content/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice

In [ ]:
import random as rd
rd.seed(0)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 12.1 Loading and exploring the dataset

First, we use pandas to load the dataset from a csv file.

In [ ]:
# use pabdas to read './titanic.csv'
raw_data = pd.read_csv('./titanic.csv')
raw_data

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

Next, we can explore the dataset.

In [ ]:
# Use pandas to examine the length of the dataset
raw_data.shape

(891, 12)

In [ ]:
# Use pandas to examine the columns in the dataset
raw_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# Use pandas to examine "survived" column (labels)
raw_data['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
# Use pandas to exanine more than one column at the same time ["Name", "Age"]
raw_data[['Name', 'Age']]

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [ ]:
# Use pandas to check how many passengers survived
(raw_data['Survived'] == 1).sum()

342

In [ ]:
raw_data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

## 12.2. Cleaning up the data

Now, let's look at how many columns have missing data

In [ ]:
# use pandas to check missing data (NA(not available) values) for all the columns
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# use pandas to check missing data (NA(not available) values) for all the columns
raw_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

The Cabin column is missing too many values to be useful. Let's drop it altogether.

In [ ]:
# Use pandas to drop "Cabin" column
clean_data = raw_data.drop(columns='Cabin')

In [ ]:
clean_data

     PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0              1         0       3  ...         A/5 21171   7.2500         S
1              2         1       1  ...          PC 17599  71.2833         C
2              3         1       3  ...  STON/O2. 3101282   7.9250         S
3              4         1       1  ...            113803  53.1000         S
4              5         0       3  ...            373450   8.0500         S
..           ...       ...     ...  ...               ...      ...       ...
886          887         0       2  ...            211536  13.0000         S
887          888         1       1  ...            112053  30.0000         S
888          889         0       3  ...        W./C. 6607  23.4500         S
889          890         1       1  ...            111369  30.0000         C
890          891         0       3  ...            370376   7.7500         Q

[891 rows x 11 columns]

Other columns such as Age or Embarked are missing some values, but they can still be useful.

For the age column, let's fill in the missing values with the median of all ages.

For the Embarked column, let's make a new category called 'U', for Unknown port of embarkment.

In [ ]:
# get the median of age column using pandas
median_age = clean_data['Age'].median()
median_age

28.0

In [ ]:
# use pandas to fill the na values in age column with the median age
clean_data["Age"] = clean_data['Age'].fillna(median_age)

In [ ]:
clean_data['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [ ]:
# use pandas to fill the na values in embarked column with 'U'

clean_data["Embarked"] = clean_data['Embarked'].fillna('U')

In [ ]:
clean_data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [ ]:
# view 10 rows of the clean dataset
clean_data.head(10)

   PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0            1         0       3  ...         A/5 21171   7.2500         S
1            2         1       1  ...          PC 17599  71.2833         C
2            3         1       3  ...  STON/O2. 3101282   7.9250         S
3            4         1       1  ...            113803  53.1000         S
4            5         0       3  ...            373450   8.0500         S
5            6         0       3  ...            330877   8.4583         Q
6            7         0       1  ...             17463  51.8625         S
7            8         0       3  ...            349909  21.0750         S
8            9         1       3  ...            347742  11.1333         S
9           10         1       2  ...            237736  30.0708         C

[10 rows x 11 columns]

### 12.2.3 Saving our data for the future

In [ ]:
# save the clean dataset to './clean_titanic_data.csv'
clean_data.to_csv('./clean_titanic_data.csv', index=None)

## 12.3 Manipulating the features

- One-hot encoding
- Binning
- Feature selection

### 12.3.1 One-hot encoding

In [ ]:
preprocessed_data = pd.read_csv('clean_titanic_data.csv')
preprocessed_data

     PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0              1         0       3  ...         A/5 21171   7.2500         S
1              2         1       1  ...          PC 17599  71.2833         C
2              3         1       3  ...  STON/O2. 3101282   7.9250         S
3              4         1       1  ...            113803  53.1000         S
4              5         0       3  ...            373450   8.0500         S
..           ...       ...     ...  ...               ...      ...       ...
886          887         0       2  ...            211536  13.0000         S
887          888         1       1  ...            112053  30.0000         S
888          889         0       3  ...        W./C. 6607  23.4500         S
889          890         1       1  ...            111369  30.0000         C
890          891         0       3  ...            370376   7.7500         Q

[891 rows x 11 columns]

In [ ]:
# Use pandas method .get_dummies() to get the one hot encoding of “embarked”, “pclass” and “gender”
preprocessed_data = pd.get_dummies(preprocessed_data, columns = ['Embarked', 'Pclass', 'Sex'], prefix='is')

In [ ]:
preprocessed_data

     PassengerId  Survived  ... is_female  is_male
0              1         0  ...         0        1
1              2         1  ...         1        0
2              3         1  ...         1        0
3              4         1  ...         1        0
4              5         0  ...         0        1
..           ...       ...  ...       ...      ...
886          887         0  ...         0        1
887          888         1  ...         1        0
888          889         0  ...         1        0
889          890         1  ...         0        1
890          891         0  ...         0        1

[891 rows x 17 columns]

### 12.3.2 Binning

In [ ]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80]
# Use .cut() method to make bins from the age column

categorized_age = pd.cut(preprocessed_data['Age'], bins=bins)
preprocessed_data['Categorized_age'] = categorized_age
preprocessed_data = preprocessed_data.drop(["Age"], axis=1)
preprocessed_data

     PassengerId  Survived  ... is_male  Categorized_age
0              1         0  ...       1         (20, 30]
1              2         1  ...       0         (30, 40]
2              3         1  ...       0         (20, 30]
3              4         1  ...       0         (30, 40]
4              5         0  ...       1         (30, 40]
..           ...       ...  ...     ...              ...
886          887         0  ...       1         (20, 30]
887          888         1  ...       0         (10, 20]
888          889         0  ...       0         (20, 30]
889          890         1  ...       1         (20, 30]
890          891         0  ...       1         (30, 40]

[891 rows x 17 columns]

In [ ]:
# Use pandas method .get_dummies() to get the one hot encoding of “Categorized_age”
preprocessed_data = pd.get_dummies(preprocessed_data, columns = ['Categorized_age'], prefix='age')

preprocessed_data

     PassengerId  Survived  ... age_(60, 70]  age_(70, 80]
0              1         0  ...            0             0
1              2         1  ...            0             0
2              3         1  ...            0             0
3              4         1  ...            0             0
4              5         0  ...            0             0
..           ...       ...  ...          ...           ...
886          887         0  ...            0             0
887          888         1  ...            0             0
888          889         0  ...            0             0
889          890         1  ...            0             0
890          891         0  ...            0             0

[891 rows x 24 columns]

### 12.3.4 Feature selection

In [ ]:
# drop these columns['Name', 'Ticket', 'PassengerId']
preprocessed_data.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)
preprocessed_data.head()

   Survived  SibSp  Parch  ...  age_(50, 60]  age_(60, 70]  age_(70, 80]
0         0      1      0  ...             0             0             0
1         1      1      0  ...             0             0             0
2         1      0      0  ...             0             0             0
3         1      1      0  ...             0             0             0
4         0      0      0  ...             0             0             0

[5 rows x 21 columns]

### 12.3.5 Saving for future use

In [ ]:
preprocessed_data.to_csv('./preprocessed_titanic_data.csv', index=None)

# 12.4 Training models

In [ ]:
data = pd.read_csv('./preprocessed_titanic_data.csv')
data.head()

   Survived  SibSp  Parch  ...  age_(50, 60]  age_(60, 70]  age_(70, 80]
0         0      1      0  ...             0             0             0
1         1      1      0  ...             0             0             0
2         1      0      0  ...             0             0             0
3         1      1      0  ...             0             0             0
4         0      0      0  ...             0             0             0

[5 rows x 21 columns]

### 12.4.1 Features-labels split and train-validation split

In [ ]:
# drop ["Survived"] column and save that to features
features = data.drop(columns=['Survived'])

# save the ["Survived"] column to labels
labels = data['Survived']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# split data by 60% train ; use random_state=100
features_train, features_validation_test, labels_train, labels_validation_test = train_test_split(features, labels, test_size=0.4, random_state=100)

In [ ]:
# split test data by 50% validation and 50% test ; use random_state=100
features_validation, features_test, labels_validation, labels_test = train_test_split(features_validation_test, labels_validation_test, test_size=0.5, random_state=100)

In [ ]:
print('features train length: ', len(features_train))
print('features validation length: ', len(features_validation))
print('features train length: ', len(features_test))
print('labels train length: ' ,len(labels_train))
print('labels validation length: ', len(labels_validation))
print('labels test length: ', len(labels_test))

features train length:  534
features validation length:  178
features train length:  179
labels train length:  534
labels validation length:  178
labels test length:  179

### 12.4.2 Training different models on our dataset

We'll train six models:
- Logistic regression (perceptron)
- Decision tree
- Support vector machine (SVM)
- RandomForestClassifier
- GradientBoostingClassifier
- AdaBoostClassifier

In [ ]:
# Train logistic regression model
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression()
lr_model.fit(features_train, labels_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
# Train decision tree model ; don't use any hyperparameter
from sklearn.tree import DecisionTreeClassifier

dt_model = DecisionTreeClassifier()
dt_model.fit(features_train, labels_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
# Train SVM model ; don't use any hyperparameter
from sklearn.svm import SVC

svm_model = SVC()
svm_model.fit(features_train, labels_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# Train random forest model ; don't use any hyperparameter
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(features_train, labels_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# Train gradient boosting model ; don't use any hyperparameter
from sklearn.ensemble import GradientBoostingClassifier

gb_model = GradientBoostingClassifier()
gb_model.fit(features_train, labels_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
# Train Adaboost model ; don't use any hyperparameter
from sklearn.ensemble import AdaBoostClassifier

ab_model = AdaBoostClassifier()
ab_model.fit(features_train, labels_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

### 12.4.3 Evaluating the models

#### Accuracy

In [ ]:
# print accuracy of each model on validation data
print("Scores of the models")
print("Logistic regression:", lr_model.score(features_validation, labels_validation))
print("Decision tree:", dt_model.score(features_validation, labels_validation))
print("SVM:", svm_model.score(features_validation, labels_validation))
print("Random forest:", rf_model.score(features_validation, labels_validation))
print("Gradient boosting:", gb_model.score(features_validation, labels_validation))
print("AdaBoost:", ab_model.score(features_validation, labels_validation))

Scores of the models
Logistic regression: 0.7696629213483146
Decision tree: 0.7696629213483146
SVM: 0.6797752808988764
Random forest: 0.7640449438202247
Gradient boosting: 0.8146067415730337
AdaBoost: 0.7640449438202247

#### F1-score

In [ ]:
# print F1-score of each model on validation data
from sklearn.metrics import f1_score

print("F1-scores of the models:")

print("Logistic regression:", f1_score(labels_validation, lr_model.predict(features_validation)))

print("Decision tree:", f1_score(labels_validation, dt_model.predict(features_validation)))

print("SVM:", f1_score(labels_validation, svm_model.predict(features_validation)))

print("Random forest:", f1_score(labels_validation, rf_model.predict(features_validation)))

print("Gradient boosting:", f1_score(labels_validation, gb_model.predict(features_validation)))

print("AdaBoost:", f1_score(labels_validation, ab_model.predict(features_validation)))

F1-scores of the models:
Logistic regression: 0.6870229007633588
Decision tree: 0.6870229007633588
SVM: 0.39999999999999997
Random forest: 0.6956521739130436
Gradient boosting: 0.744186046511628
AdaBoost: 0.6865671641791045

### 12.4.4 Testing the model

Finding the accuracy and the F1-score of the model in the testing set.

In [ ]:
# print accuracy of gradient boost model on testing data
print('acccuracy with gradient_model on test data: ', gb_model.score(features_test, labels_test))

acccuracy with gradient_model on test data:  0.8324022346368715

In [ ]:
# print F1-score of gradient boost model on testing data
print('acccuracy with gradient_model on test data: ', f1_score(labels_test, gb_model.predict(features_test)))

acccuracy with gradient_model on test data:  0.8026315789473685

# 12.5 Grid search

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
svm_parameters = {'kernel': ['rbf'],
                  'C': [0.01, 0.1, 1 , 10, 100],
                  'gamma': [0.01, 0.1, 1, 10, 100]
                }

# use gridsearch to find the best hyperparameters 
svm = SVC()
svm_gs = GridSearchCV(svm, param_grid=svm_parameters)
svm_gs.fit(features_train, labels_train)

# git the best model
svm_winner = svm_gs.best_estimator_
svm_winner

svm_winner.score(features_validation, labels_validation)

0.7191011235955056

In [ ]:
svm_winner

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)